<div class="d-flex justify-content-between">
  <div w-10>
    <button (click)="stepDate(-1)">prev</button>
  </div>
  <div class="d-flex justify-content-between w-80">
    <div class="w-50">
      <ul *ngIf="items" class="list-group">
        <li *ngFor="let item of items" (click)="activeItem = item" class="list-group-item list-group-item-action pointer"
            [ngClass]="{'active': activeItem === item}">
          {{item.title}}
        </li>
      </ul>
      <button (click)="openCreate()" class="btn btn-primary btn-lg btn-block">Добавить</button>
      <ngb-pagination *ngIf="items" [collectionSize]="getLastPage() * 10"
                      (pageChange)="toPage($event)"
                      [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"
                      [boundaryLinks]="true">

      </ngb-pagination>
    </div>
    <div class="w-50">
      {{activeItem?.description}}
    </div>
  </div>
  <div w-10>
    <button (click)="stepDate(1)">next</button>
  </div>
</div>


