.todolist-content {
  height: calc(100vh - 3rem - 7rem - 1.4rem - 1px);
  margin: 0.7rem;
  overflow-y: auto;
}

.todolist-nav {
  height: calc(7rem - 2 * 0.7rem);
  margin: 0.7rem;
}

.description {
  padding: 0.7rem;
  height: calc(100vh - 3rem - 1px);
}

div.todolist-nav {
  text-align: center;
}

div.todolist-nav > ngb-pagination {
  display: inline-block;
}
