<div class="d-flex justify-content-between tab-content">
  <div class="w-25 d-flex justify-content-center">
    <ngb-datepicker #dp [(ngModel)]="ngbDate"
                    (select)="selectDate($event)">
    </ngb-datepicker>
  </div>
  <div class="w-75 todolist d-flex justify-content-between">
    <div class="w-10">
      <button class="btn btn-light step" (click)="stepDate(-1)">&lt;</button>
    </div>
    <div class="w-80 d-flex justify-content-between">
      <div class="w-50 d-flex align-items-between flex-column">
        <div class="todolist-content">
          <ul *ngIf="items" class="list-group">
            <li *ngFor="let item of items" (click)="selectItem(item, $event)"
                class="list-group-item list-group-item-action pointer"
                [ngClass]="{'active': activeItem === item}">
              {{item.title}}
              <button type="button" class="close" aria-label="Close"
                      (click)="openDelete(item)">
                <span aria-hidden="true">&times;</span>
              </button>
            </li>
          </ul>
        </div>
        <div class="todolist-nav">
          <div class="add d-flex justify-content-center">
            <button (click)="openCreate()" class="btn btn-primary btn-lg btn-block">Create</button>
          </div>
          <div class="d-flex justify-content-center">
            <ngb-pagination *ngIf="items" [collectionSize]="getLastPage() * 10"
                            (pageChange)="toPage($event)"
                            [(page)]="page" [maxSize]="5" [rotate]="true" [ellipses]="false"
                            [boundaryLinks]="true">
            </ngb-pagination>
          </div>
        </div>
      </div>
      <div class="w-50 description">
        <div class="card">
          <div class="card-body">
            {{activeItem?.description}}
          </div>
        </div>
      </div>
    </div>
    <div class="w-10">
      <button class="btn btn-light step" (click)="stepDate(1)">&gt;</button>
    </div>
  </div>
</div>
