<label for="register-username">Login:</label>
<input id="register-username" type="text" class="form-control" [(ngModel)]="username" />
<label for="register-password">Password:</label>
<input id="register-password" type="text" class="form-control" [(ngModel)]="password" />
<button type="button" class="btn btn-secondary"
        [ngClass]="{'disabled': processing}"
        (click)="register()">Register</button>
<div [ngClass]="{'hidden': !processing}">SendingData</div>
<p *ngFor="let alert of alerts">
  <ngb-alert [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
</p>
