<div class="modal-container">
  <div class="modal-block">
    <label for="create-title">Title:</label>
    <input id="create-title" class="form-control" type="text" [(ngModel)]="title"
           (keydown.enter)="create()">
  </div>

  <div class="modal-block">
    <label for="create-date">Date:</label>
    <input id="create-date" class="form-control" type="date" [(ngModel)]="date">
  </div>

  <div class="modal-block">
    <label for="create-description">Description:</label>
    <textarea id="create-description" class="form-control" [(ngModel)]="description"
              (keydown)="onDescriptionEnter($event)"></textarea>
  </div>

  <div class="modal-block">
    <button class="btn submit btn-secondary"
            (click)="create()"
            [disabled]="processing">
      <span *ngIf="!processing">Create</span>
      <span *ngIf="processing" class="spinner"></span>
    </button>
  </div>

  <div class="modal-block">
    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
    </p>
  </div>
</div>

