<div class="modal-container">
  <div class="modal-block">
    <label for="create-title">Title:</label>
    <input id="create-title" class="form-control" type="text" #title>
  </div>

  <div class="modal-block">
    <label for="create-date">Date:</label>
    <input id="create-date" class="form-control" #dateInput type="date" [value]="formattedDate">
  </div>

  <div class="modal-block">
    <label for="create-description">Description:</label>
    <textarea id="create-description" class="form-control" #description></textarea>
  </div>

  <div class="modal-block">
    <button class="btn submit btn-secondary"
            (click)="create(title.value, description.value, dateInput.value)"
            [disabled]="processing">
      <span *ngIf="!processing">Create</span>
      <span *ngIf="processing" class="spinner"></span>
    </button>
  </div>

  <div class="modal-block">
    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
    </p>
  </div>
</div>

