<div #tabsetWrapper>
  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab>
      <ng-template ngbTabTitle>
        Todolist
      </ng-template>
      <ng-template ngbTabContent>
        <app-todolist *ngIf="isInitialized"></app-todolist>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        Profile
      </ng-template>
      <ng-template ngbTabContent>
        <app-profile *ngIf="isInitialized"></app-profile>
      </ng-template>
    </ngb-tab>
    <div>
      <button>Register</button>
    </div>
  </ngb-tabset>
</div>

<li class="nav-item hidden" #panel>
  <div>
    <button (click)="openRegister()">Register</button>
  </div>
</li>
