ul.nav.nav-tabs {
  height: 3rem;
}

li.no-padding {
  padding: 0;
}

ul.nav.nav-tabs > li.nav-item {
  height: 3rem;
  width: 6rem;
}

ul.nav.nav-tabs > li.nav-item a.nav-link {
  padding: 0.7rem;
}

ul.nav.nav-tabs > li.nav-item.panel {
  width: calc(100vw - 12rem - 20px);
}
.init {
  height: 80vh;
}

.init .action {
  height: 2.5rem;
}
