<div #tabsetWrapper>
  <ngb-tabset [destroyOnHide]="false">
    <ngb-tab>
      <ng-template ngbTabTitle>
        Todolist
      </ng-template>
      <ng-template ngbTabContent>
        <app-todolist *ngIf="token"></app-todolist>
      </ng-template>
    </ngb-tab>
    <ngb-tab>
      <ng-template ngbTabTitle>
        Profile
      </ng-template>
      <ng-template ngbTabContent>
        <app-profile *ngIf="token"></app-profile>
      </ng-template>
    </ngb-tab>
    <div>
      <button>Register</button>
    </div>
  </ngb-tabset>
</div>

<li class="nav-item hidden" #panel>
  <div *ngIf="!token?.user.isPermanent">
    <button (click)="openRegister()">Register</button>
  </div>
  <div *ngIf="token?.user.isPermanent">
    <span>
      {{token.user.username}}
    </span>
  </div>
  <div *ngIf="!token?.user.isPermanent">
    <button (click)="openLogin()">Log in</button>
  </div>
  <div *ngIf="token">
    <button (click)="openLogout()">{{token.user.isPermanent ? 'Log out' : 'Purge'}}</button>
  </div>
</li>
