<div class="modal-container">

  <div class="modal-block">
    <label for="login-username">Login:</label>
    <input id="login-username" type="text" class="form-control" [(ngModel)]="username"
           (keydown.enter)="login()"/>
  </div>

  <div class="modal-block">
    <label for="login-password">Password:</label>
    <input id="login-password" type="text" class="form-control" [(ngModel)]="password"
           (keydown.enter)="login()"/>
  </div>

  <div class="modal-block">
    <button type="button" class="btn btn-secondary submit"
            (click)="login()"
            [disabled]="processing">
      <span *ngIf="!processing">Log&nbsp;in</span>
      <span *ngIf="processing" class="spinner"></span>
    </button>
  </div>

  <div class="modal-block">
    <p *ngFor="let alert of alerts">
      <ngb-alert [type]="alert.type" [dismissible]="false">{{ alert.message }}</ngb-alert>
    </p>
  </div>

</div>

