/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

.w-10 {
  width: 10%;
}

.w-80 {
  width: 80%;
}

.pointer {
  cursor: pointer;
}

.hidden {
  display: none !important;
}

/*.flex {*/
  /**/
/*}*/
